@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,700;1,300;1,900&family=Roboto:ital,wght@0,400;1,300&display=swap');

@mixin kaushan-font {
  font-family: 'Kaushan Script', cursive;
}

@mixin montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

@mixin roboto-font {
  font-family: 'Roboto', sans-serif;
}